config:
  - source:
      $type: forward
      bind: 0.0.0.0
      port: 24224
  - filter:
      $tag: "docker.*.*"
      "@type": record_transformer
      record:

        tag: ${tag}
        category: ${tag_parts[1]}
        service_name: ${tag_parts[2]}
  - filter:
      $tag: "docker.infrastructure.traefik"
      "@type": parser
      key_name: "log"
      reserve_data: true
      remove_key_name_field: true
      emit_invalid_record_to_error: false
      parse:
        "@type": json
        time_type: string

  - match:
      $tag: docker.*.*
      "@type": loki
      url: http://{{loki_hostname}}:3100
#      flush_interval: 10s
#      flush_at_shutdown: true
#      buffer_chunk_limit: 1m
      label:
        service_name: $.service_name
        hostname: $.hostname
        category: $.category
        tag: $.tag
