entryPoints:
    web:
        address: ':80'
        http:
            redirections:
                entryPoint:
                    to: websecure
                    scheme: https
    
    websecure:
        address: ':443'

api:
    dashboard: true
    insecure: true

certificatesResolvers:
    lets-encrypt-tls:
        acme:
            email: shuckle@sprocket.gg
            storage: /data/le-tls.json
            tlsChallenge: { }
    {{#if caServer}}
        caServer: {{caServer}}
    {{/if}}
    
    {{#if dnsToken}}
    lets-encrypt-dns:
        acme:
            email: shuckle@sprocket.gg
            storage: /data/le-dns.json
            dnsChallenge:
                provider: digitalocean
                delayBeforeCheck: 0
    {{else}}
    # Fake it!
    lets-encrypt-dns:
        acme:
            email: shuckle@sprocket.gg
            storage: /data/le-not-real-dns.json
            tlsChallenge: { }
    {{/if}}

providers:
    swarm:
        watch: true
        exposedByDefault: false
        network: {{ traefik_network_name }}
        endpoint: "tcp://{{socketProxyHostname}}:2375"
    file:
        watch: true
        filename: /fa-dyn.yaml
        
log:
    level: debug
    format: json

metrics:
    influxDB2:
        token: ""
        address: ""

{{#if rolypoly}}
experimental:
    plugins:
        ldapAuth:
            moduleName: "github.com/wiltonsr/ldapAuth"
            version: "v0.1.4"
{{/if}}


