entryPoints:
  web:
    address: ':80'
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https

  websecure:
    address: ':443'

api:
  dashboard: true
  insecure: true

certificatesResolvers:
  lets-encrypt-tls:
    acme:
      email: shuckle@sprocket.gg
      storage: /data/le-tls.json
      tlsChallenge: { }
{{#if caServer}}
      caServer: {{caServer}}
{{/if}}

providers:
  swarm:
    watch: true
    exposedByDefault: false
    network: {{ traefik_network_name }}
    endpoint: "tcp://{{socketProxyHostname}}:2375"

log:
  level: debug
  format: json

metrics:
  influxDB2:
    token: ""
    address: ""