entryPoints:
  web:
    address: ':80'
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https

  websecure:
    address: ':443'

api:
  dashboard: true
  insecure: true

certificatesResolvers:
  lets-encrypt-tls:
    acme:
      email: shuckle@sprocket.gg
      storage: /data/le-tls.json
      tlsChallenge: { }
{{#if caServer}}
      caServer: {{caServer}}
{{/if}}

providers:
  swarm:
    watch: true
    exposedByDefault: false
    network: traefik-ingress
    endpoint: "tcp://{{socketProxyHostname}}:2375"

# TODO: Uncomment this
#metrics:
#  influxDB:
#    address: telegraf:8081
#    protocol: http
log:
  level: debug
