version: '3.8'

networks:
  layer1_traefik-ingress:
    external: true
  monitoring-network:
    driver: overlay
    attachable: true
  postgres-network:
    driver: overlay
    attachable: true

volumes:
  redis-data:
  minio-data:
  influx-data:
  loki-data:
  grafana-data:

configs:
  redis-config:
    file: ../layer_2/src/config/redis/redis.conf
  gatus-config:
    file: ../layer_2/src/config/gatus/config.yml
  fluentd-config:
    file: ../layer_2/src/monitoring/config/fluentd.conf
  telegraf-config:
    file: ../layer_2/src/monitoring/config/telegraf.conf


services:
  redis:
    image: redislabs/rejson:2.0.7
    command: >
      --requirepass ${REDIS_PASSWORD}
      --loadmodule /usr/lib/redis/modules/rejson.so
      --loadmodule /usr/lib/redis/modules/redisearch.so
    volumes:
      - redis-data:/data
    networks:
      - layer1_traefik-ingress
    configs:
      - source: redis-config
        target: /usr/local/etc/redis/redis.conf
    deploy:
      placement:
        constraints:
          - node.labels.role == storage
      labels:
        - "traefik.enable=false"

  minio:
    image: minio/minio:RELEASE.2022-04-30T22-23-53Z
    command: server /data --console-address :9001
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio-data:/data
    networks:
      - layer1_traefik-ingress
    deploy:
      placement:
        constraints:
          - node.labels.role == storage
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.minio-endpoint.rule=Host(`files.${HOSTNAME}`)"
        - "traefik.http.routers.minio-endpoint.service=minio-endpoint@docker"
        - "traefik.http.routers.minio-endpoint.entrypoints=websecure"
        - "traefik.http.routers.minio-endpoint.tls.certresolver=lets-encrypt-tls"
        - "traefik.http.services.minio-endpoint.loadbalancer.server.port=9000"
        - "traefik.http.routers.minio-console.rule=Host(`minio.${HOSTNAME}`)"
        - "traefik.http.routers.minio-console.service=minio-console@docker"
        - "traefik.http.routers.minio-console.entrypoints=websecure"
        - "traefik.http.routers.minio-console.tls.certresolver=lets-encrypt-tls"
        - "traefik.http.services.minio-console.loadbalancer.server.port=9001"

  influxdb:
    image: influxdb:2.6
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: admin
      DOCKER_INFLUXDB_INIT_PASSWORD: ${INFLUX_ADMIN_PASSWORD}
      DOCKER_INFLUXDB_INIT_ORG: sprocket
      DOCKER_INFLUXDB_INIT_BUCKET: metrics
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: ${INFLUX_ADMIN_TOKEN}
    volumes:
      - influx-data:/var/lib/influxdb2
    networks:
      - monitoring-network
      - layer1_traefik-ingress
    deploy:
      placement:
        constraints:
          - node.labels.role == storage
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.influx.rule=Host(`influx.${HOSTNAME}`)"
        - "traefik.http.routers.influx.entrypoints=websecure"
        - "traefik.http.routers.influx.tls.certresolver=lets-encrypt-tls"
        - "traefik.http.services.influx.loadbalancer.server.port=8086"

  loki:
    image: grafana/loki:2.8.0
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - loki-data:/loki
    networks:
      - monitoring-network
    deploy:
      placement:
        constraints:
          - node.labels.role == storage
      labels:
        - "traefik.enable=false"

  grafana:
    image: grafana/grafana:9.4.7
    environment:
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
      GF_DATABASE_TYPE: postgres
      GF_DATABASE_HOST: ${POSTGRES_HOSTNAME}:5432
      GF_DATABASE_NAME: grafana
      GF_DATABASE_USER: ${POSTGRES_GRAFANA_USER}
      GF_DATABASE_PASSWORD: ${POSTGRES_GRAFANA_PASSWORD}
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - monitoring-network
      - layer1_traefik-ingress
      - postgres-network
    deploy:
      placement:
        constraints:
          - node.labels.role == storage
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.grafana.rule=Host(`grafana.${HOSTNAME}`)"
        - "traefik.http.routers.grafana.entrypoints=websecure"
        - "traefik.http.routers.grafana.tls.certresolver=lets-encrypt-tls"
        - "traefik.http.services.grafana.loadbalancer.server.port=3000"

  fluentd:
    #image: fluent/fluentd:v1.14-debian-1
    image: grafana/fluent-plugin-loki:main
    volumes:
      - /var/log:/var/log:ro
    networks:
      - monitoring-network
    configs:
      - source: fluentd-config
        target: /fluentd/etc/fluent.conf
    deploy:
      mode: global
      labels:
        - "traefik.enable=false"

  telegraf:
    image: telegraf:1.25
    environment:
      POSTGRES_HOST: ${POSTGRES_HOSTNAME}
      INFLUX_TOKEN: ${INFLUX_ADMIN_TOKEN}
      INFLUX_ORG: sprocket
      INFLUX_BUCKET: metrics
    networks:
      - monitoring-network
      - postgres-network
    configs:
      - source: telegraf-config
        target: /etc/telegraf/telegraf.conf
    deploy:
      mode: global
      labels:
        - "traefik.enable=false"

  gatus:
    image: twinproduction/gatus:v5.0.0
    networks:
      - layer1_traefik-ingress
    configs:
      - source: gatus-config
        target: /config/config.yaml
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.gatus.rule=Host(`status.${HOSTNAME}`)"
        - "traefik.http.routers.gatus.entrypoints=websecure"
        - "traefik.http.routers.gatus.tls.certresolver=lets-encrypt-tls"
        - "traefik.http.services.gatus.loadbalancer.server.port=8080"
